.crew {
  background-image: url("../../assets/crew/background-crew-mobile.jpg");
}

.crew .wrapper {
  height: 550px;
  justify-content: unset;
}

.crew .wrapper > div {
  width: 327px;
}

.crew__picture-panel {
  width: auto;
  height: 223px;
}

.crew .wrapper div:first-child:not(.crew__control-panel) {
  border-bottom: 1px solid #383b4b;
}

.crew__text-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crew .wrapper div.crew__control-panel {
  width: 88px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.crew__control-dot {
  padding: 5px;
  background-color: var(--off-white);
  opacity: 0.17;
  mix-blend-mode: normal;
  border-radius: 50%;
}

.crew__control-dot:hover {
  opacity: 0.5;
}

.crew__control-dot.active {
  opacity: 1;
}

/* ipad only */
@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .crew {
    background-image: url("../../assets/crew/background-crew-tablet.jpg");
  }

  .crew .wrapper {
    flex-direction: column-reverse;
    height: fit-content;
    gap: 50px;
  }

  .crew .wrapper > div {
    width: 600px;
  }

  .crew__picture-panel {
    width: 458px;
    height: auto;
  }
}

/* desktop only */
@media only screen and (min-width: 1440px) {
  .crew {
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
  }

  .crew .wrapper {
    flex-direction: row-reverse;
    gap: 100px;
    width: 85vw;
    justify-content: space-between;
    height: fit-content;
  }

  .crew .wrapper > div {
    width: fit-content;
  }

  .crew__picture-panel {
    width: auto;
    height: 712px;
  }

  .crew__text-control {
    align-items: flex-start;
    text-align: left;
  }
}

/* ipad only and destop*/
@media only screen and (min-width: 768px) and (max-width: 1440px), (min-width: 1440px) {
  .crew .wrapper div:first-child:not(.crew__control-panel) {
    border-bottom: none;
  }

  .crew__text-control {
    flex-direction: column-reverse;
  }
}
