.technology {
  background-image: url("../../assets/technology/background-technology-mobile.jpg");
}

/* ipad only */
@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .technology {
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
  }
}

/* desktop only */
@media only screen and (min-width: 1440px) {
  .technology {
    background-image: url("../../assets/technology/background-technology-desktop.jpg");
  }
}
