/* phone */
nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100vw;
  align-items: center;
  text-transform: uppercase;
  padding-top: 20px;
}

.nav--sidebar-open {
  position: relative;
  padding-top: 0;
}

nav .nav__left-panel {
  flex: 1;
  padding-left: 20px;
  display: flex;
}

.nav-item__number {
  margin-right: 10px;
  font-weight: bold;
}

.nav__logo.sidebar-open {
  position: absolute;
  top: 20px;
}

.sidebar__logo-open {
  width: 40px;
}

.nav__horizontal-line {
  display: none;
}

.nav__right-panel {
  font-family: var(--barlow-condensed-regular);
  font-size: var(--nav-text);
  letter-spacing: var(--nav-text--letter-spacing);
  font-weight: 400;
}

.nav__right-panel li a {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.nav__right-panel li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--off-white);
  visibility: hidden;
  mix-blend-mode: normal;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav__right-panel li a:hover::after {
  opacity: 0.5;
  visibility: visible;
  transform: scaleX(1);
}

/* TODO Not working */
.nav__right-panel li a:active::after {
  opacity: 1;
  visibility: visible;
  transform: scaleX(1);
}

/* ipad only */
@media only screen and (min-width: 768px) and (max-width: 1440px) {
  nav ul.nav__right-panel {
    width: 450px;
    height: 68px;
  }

  .nav-item__number {
    display: none;
  }
}

/* desktop only */
@media only screen and (min-width: 1440px) {
  nav {
    height: 150px;
  }

  .nav__horizontal-line {
    display: block;
    width: 90%;
    border-top: 1px solid var(--off-white);
    transform: translateX(10%);
    z-index: 1;
  }

  nav ul.nav__right-panel {
    width: 830px;
    height: 96px;
  }
}

/* ipad and desktop */
@media only screen and (min-width: 768px) and (max-width: 1440px), (min-width: 1440px) {
  nav {
    padding-top: 0;
  }

  nav ul.nav__right-panel {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
    box-sizing: border-box;
  }

  nav ul.nav__right-panel li {
    display: flex;
    align-items: center;
  }

  nav .nav__left-panel {
    padding-left: 40px;
    display: flex;
    align-items: center;
  }
}
